 #text_contac {
   text-align: center;
   margin-top: 10px;
   margin-bottom: 00px;
 }

 .part-form {
   margin: 30px;
   padding: 10px;
   text-align: center;
   justify-content: center;
 }

 #nombre-label,
 #email,
 #telefono,
 #consulta {
   display: block;
   margin:5px;
 }

 #consulta{
   margin: auto;
   text-align:center;
   color: black;
 }  
 
 #nombre {
   display: block;
   margin: 10px auto 0px auto;
 }

 #telefono,
 #email,
 #nombre {
   width: 400px;
   border: none;
   border-bottom: 1px solid black;
 }

 .fr_button {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.fr_button input {
  padding: 5px;
  width: 130px;
  background: rgb(66, 66, 66);
  color: white;
  } 

  /* version celular */
@media screen and (max-width: 992px) {
  #consulta{
    width: 50%;
    height: 100px;
  }
  }
