/* general */
#nav {
  background: rgb(66, 66, 66);
}

#logo {
  background: rgb(173, 20, 87);
  margin-left: 30px;
  width: 100px;
  text-align: center;
}

li {
  margin-right: 20px;
}

/* version escritorio */
@media screen and (min-width: 992px) {
  #navbarNav {
    display: flex;
    justify-content: right;
    margin-right: 50px;
  }
}